@model Real_Estate.Models.Agencija
@{

}
@*@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CityId").change(function () {
                //console.log("usao u funkciju CityId");
                var selectedCityId = $(this).val();
                if (selectedCityId !== '') {
                    $.ajax({
                        url: '@Url.Action("GetOpstinaByGrad", "Nekretnine")',
                        type: 'GET',
                        data: { cityId: selectedCityId },
                        success: function (data) {
                            var opstineDropdown = $("#IdOpstine");
                            opstineDropdown.empty();
                            //console.log(data);
                            $.each(data, function (index, item) {
                                opstineDropdown.append($('<option/>', {
                                    value: item.idOpstine,
                                    text: item.nazivOpstine
                                }));
                            });
                        }
                    });
                }
                else {
                    $("#IdOpstine").empty();
                }
            });
            $("#IdOpstine").change(function () {
                // console.log("usao u funkciju OpstinaId");
                var selectedOpstinaId = $(this).val();
                // console.log(selectedOpstinaId);
                if (selectedOpstinaId !== '') {
                    $.ajax({
                        url: '@Url.Action("GetMikrolokacijaByOpstina", "Nekretnine")',
                        type: 'GET',
                        data: { opstinaId: selectedOpstinaId },
                        success: function (data) {
                            var mikrolokacijeDropdown = $("#IdMikrolokacije");
                            mikrolokacijeDropdown.empty();
                            //console.log(data);
                            $.each(data, function (index, item) {
                                mikrolokacijeDropdown.append($('<option/>', {
                                    value: item.idMikrolokacije,
                                    text: item.nazivMikrolokacije
                                }));
                            });
                        }
                    });
                }
                else {
                    $("#IdMikrolokacije").empty();
                }
            });

        });
    </script>
    }*@
<style>
    .nav-pills li a:hover {
        background-color: blue;
    }
</style>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md-2 min-vh-100 ">
            <div class="bg-dark p-2">
                <a class="d-flex text-decoration-none mt-5 align-items-center text-white">
                    <span class="fs-4 d-none d-sm-inline">SideMenu</span>
                </a>
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Admin/PocetnaAdmin">
                            Pocetna
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Admin/ProdateNekretnine">
                            Prodate nekretnine
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a class="nav-link text-white" href="/Admin/Agencije">
                            Agencije
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a class="nav-link text-white" href="/Admin/Mikrolokacije">
                            Mikrolokacije
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a class="nav-link text-white" href="/Admin/Ulice">
                            Ulice
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col-md-9 main-content">
                <form method="post" asp-action="DodajAgenciju" asp-controller="Admin" enctype="multipart/form-data">
                    <div class="form-group mb-2">
                        @* <label class="control-label">Naziv Mikrolokacije</label>*@
                        <div>
                            <input class="form-control" type="text" asp-for="Naziv" name="Naziv" placeholder="Naziv Agencije" />
                            <span asp-validation-for="Naziv" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        @* <label class="control-label">Naziv Mikrolokacije</label>*@
                        <div>
                            <input class="form-control" type="text" asp-for="PIB" name="PIB" placeholder="PIB" />
                            <span asp-validation-for="PIB" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        @* <label class="control-label">Naziv Mikrolokacije</label>*@
                        <div>
                            <input class="form-control" type="text" asp-for="Adresa" name="Adresa" placeholder="Adresa" />
                            <span asp-validation-for="Adresa" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        @* <label class="control-label">Naziv Mikrolokacije</label>*@
                        <div>
                            <input class="form-control" type="text" asp-for="Telefon" name="Telefon" placeholder="Telefon" />
                            <span asp-validation-for="Telefon" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Grad</label>
                        <div>
                            <select class="form-select" id="IdGrada" name="IdGrada">
                                <option value="None" selected>Izaberi Grad</option>
                                @{
                                    foreach (var grad in ViewBag.Gradovi)
                                    {
                                        <option value="@grad.IdGrada">@grad.NazivGrada</option>
                                    }
                                }
                            </select>
                            
                        </div>
                    </div>                   
                    <div class="form-group text-center ">
                        <br />
                        <input type="submit" class="btn btn-primary btn-lg form-control" name="DodajAgenciju" value="Nova Agencija" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

